.doctor_card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 10px 10px;
}

.image img {
    height: 400px;
    width: 300px;
}

.doctor_card .information div p {
    border: 2px solid rgba(0, 0, 0, .2);
    padding: 5px;
    border-radius: 10px;
    background: rgba(0, 0, 0, .4);
    text-align: center;
    margin-bottom: 30px;
}

.doctor_card .information h3 {
    margin: 40px 30px 20px;
    font-size: 20px;
}

.doctor_card .information p {
    margin-top: 30px;
}

.doctor_card .information .reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;   
}

@media (max-width: 788px) {
    .doctor_card {
        flex-direction: column;
        justify-content: center;
        margin-left: 5px;
    }


    .image img {
        height: 300px;
        width: 220px;
    }
}