.section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.section div {
    margin: auto;
}

h1{
    text-align: center;
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 0 30px rgba(0, 0, 0, .5);
    animation: fadeIn 2s;
    text-shadow: 2px 2px 4px #000000;
}

.questions {
    padding: 20px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    animation: fadeIn 2s;
}

@media(max-width: 790px){
    .section {
        flex-direction: column;
        height: auto;
        align-items: center; 
      }
    
      .section div {
        max-width: 100%; 
      }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}