
.card {
    margin: 20px;
    width: 270px;
    height: 500px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    animation: fadeIn 1s;
}

.card img {
    width: 230px;
    height:330px;
    border-radius: 15px;
    animation: fadeIn 2s;
}
.name {
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 2.5s;
}

.card .information {
    margin-top: 10px;
    width: 100%;
    padding: 5px;
}

.card .information div p {
    border: 2px solid rgba(0, 0, 0, .2);
    padding: 5px;
    border-radius: 10px;
    background: rgba(0, 0, 0, .2);
}

.name h3 {
    padding-top: 10px;
    margin-right: auto;
}

.card .btn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
.card .btn .icon {
    transition: padding-right 0.3s;
}

.card .btn .icon:hover {
    padding-right: 5px;
}

.card .btn p {
    margin-left: 10px;
    font-size: 12px;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}